/* 民主與共產 */
.p15 {
    color: #000000;
    padding:20px ;
    background: rgba(93 ,141, 50, 0.289);
    border-radius:15px;
    text-align:left;
}

/*
民主與共產區別
*/
.demo,.comm {
    min-height:12em;
    padding:1.5rem;
    border-radius: 15px;;
    color:#ffffff;
}
.demo {
  /*background:#4169E1;*/
  background:rgba(0,0,255,0.6)
}
.comm {
 background:#F08080;
}

/*字體*/
.fonthh{
    font-family: 'Noto Serif TC', sans-serif;
    margin: 0%;
}

/*icon的*/
.social-icons .social-icon {
    background-color: #495057;
    color: #ffffff;
}

/*顏色*/
.btn-primary {
    color: #ffffff;
    background-color: #8db14e;
    border-color: #8db14e;
}
.btn-primary:hover {
    background-color: #597130;
    border-color: #597130;
}
.btn-primary:active {
    background-color: #597130 !important;
    border-color: #597130 !important;
}
.btn-primary:disabled {
    background-color: #8db14e !important;
    border-color: #8db14e !important;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    background-color: #8db14e !important;
    border-color: #8db14e !important;
}
.nav-link:hover,
.nav-link:active {
    color: #8db14e !important;
}
.navbar-nav .show > .nav-link,
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
    color: #8db14e ;
}
.nav-link.active {
    color: #8db14e !important;
}

/*頂端的顏色*/
#mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #404040;
}

/*我的線*/
.leftline {
    border-left:2px solid #aaa;
}
#difference section {
    padding:0 2em
}

/*字*/
.fontsize {
    font-size: 125%;
}
.underline {
    text-decoration: underline;
}
.tcenter{
text-align: center;
}
.greengreen {
    background-color: #8db14e3e;
}

/*視窗*/
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 2rem !important;
}
.btn-secondary {
    background: #8db14e;.
    border-color: #8db14e;
}
.btn-secondary:hover {
    background: #404040;
}

/*時間軸圖底色*/
.timeline > li .timeline-image {
    background-color: #8db14e;
}


/*時間軸*/

@media (min-width: 768px) {
    .timeline:before {
        left: 70%;
    }
    .timeline.timeline-alt:before {
        left:30%;
    }
    
}

@media (min-width: 992px) {
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
}

@media (min-width: 768px) {
    .timeline > li .timeline-image {
        left: 70%;
        width: 150px;
        height: 150px;
        margin-left: -70px;
    }
    .timeline-alt > li .timeline-image {
        left:30%
    }
}
    .timeline > li .timeline-panel {
        padding: 0 20px;
    }

    @media (min-width: 1200px) {
        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 0 20px 20px;
        }
    }

/*
section swiper
*/
:root {
    --swiper-theme-color:#94b05b!important;
}
section.swiper {
    padding:-400px 0 -500px 0!important;
}

/*國旗縮放*/


.flag{overflow:hidden;}
.flag img{transform:scale(1,1);transition: all 1s ease-out;}
.flag img:hover{transform:scale(1.2,1.2);}

section.col-md-6.flag,
section.col-md-6.leftline.flag {
    padding:0 0;
}

.interview {
    margin:0 auto;
}

/*
新聞
*/

section#news.page-section.bg-light {
    padding:0 0 30px 0 !important;
    margin-bottom: -150px;
    
}

/*深度報導縮放*/

.card.h-100 {
    overflow:hidden;
}
#innews .card.h-100 a {
    displaY:block;
    height:250px;
}
.card.h-100 a img {
    transform:scale(1,1);transition: all 1s ease-out;

}

.card.h-100 a:hover img {
    transform:scale(1.1,1.1);
}


#innews .card-body {
    min-height:23rem;
}


/*
資料來源
**/

.marginauto {
    margin:0 auto;
}
table.reference{
    table-layout: fixed;    
}
span.reference {
    margin:0 auto;
}w
table.reference a{
   color:#94b05b;
   diplay:inline-block;
}

.reference tbody tr th,
.reference tbody tr td {
    vertical-align: middle;
}
.reference thead tr th:nth-child(1) {

    width: 5%;
}
.reference thead tr th:nth-child(2) {
    width:20% !important;
   
}
.reference thead tr td:nth-child(2) {
    text-align: left!important;
}

/*

portfolio

*/

/* 
---------------------------------------------
Portfolio
--------------------------------------------- 
*/

.our-portfolio {
  margin-top: 0px;
}

.our-portfolio .section-heading h2 {
  text-align: center;
  margin: 0px 90px 0px 90px;
  margin-bottom: 120px;
  position: relative;
  z-index: 1;
}

.our-portfolio .item {
  position: relative;
}

.our-portfolio .item:hover .hidden-content {
  top: -290px;
  opacity: 1;
  visibility: visible;
}

.our-portfolio .item:hover .showed-content {
  top: 200px;
}

.our-portfolio .hidden-content {
  background: rgb(255,77,30);
  background: linear-gradient(105deg, rgb(189, 239, 145) 0%, rgb(107, 176, 91) 100%);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  opacity: 0;
  top: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  transition: all 0.5s;
}

.our-portfolio .hidden-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.our-portfolio .hidden-content p {
  color: #fff;
}

.our-portfolio .showed-content {
  top: 0px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.5s;
}

.our-portfolio .showed-content img {
  max-width: 100px;
}

.text-left {
    text-align:left;
}
